<form id="sheet-export-mappingedit">

    <header id="sheet-export-mappingedit-header">
        <label for="sheet-export-mappingedit-upload" class="sheet-export-btn">{{ localize 'sheet-export.mappingEdit.upload' }}</label>
        <input id="sheet-export-mappingedit-upload" type="file" name="generate" accept="application/pdf" style="visibility:hidden;" />
    </header>

    <ul id="fieldList"></ul>

</form>