<form id="sheet-export-form">

    <header id="sheet-export-header">
        <label for="sheet-export-upload" class="sheet-export-btn">{{ localize 'sheet-export.sheet.override' }}</label>
        <input id="sheet-export-upload" type="file" name="upload" accept="application/pdf" style="visibility:hidden;" />
        <input id="sheet-export-apply" type="button" name="apply" value="Apply" />
        {{#if download.show}}
        <button id="sheet-export-download" title="{{download.title}}"
            onclick="window.open('{{download.url}}', '_blank')">
            <i class="fas fa-download"></i> {{download.label}}
        </button>
        {{/if}}
    </header>

    <ul id="fieldList"></ul>

    <button id="sheet-export-final">
        <i class="fas fa-print"></i>
    </button>

</form>